// Responsive Breakpoint Mixins
@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1024px) {
        @content;
    }
}

// Utility Mixins
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
