.icon {
    width: 1.25rem;
    height: 1.25rem;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    vertical-align: text-bottom;
}

.icon-lg {
    width: 1.5rem;
    height: 1.5rem;
}
