---
layout: default
---

<div class="docs-container">
    {% include layout/sidebar.html %}

    <article class="docs-main">
        <header class="docs-header">
            <h1 class="hero-title">{{ page.title }}</h1>
            <p>{{ page.description }}</p>
            <hr class="article-divider" />
        </header>

        {% assign project_docs = site.docs | where: "project", page.project |
        sort: "order" %} {% for doc in project_docs %}
        <section id="{{ doc.slug }}" class="doc-section">
            {{ doc.content }}
        </section>

        {% unless forloop.last %}
        <div class="section-divider"></div>
        {% endunless %} {% endfor %}
    </article>
</div>
